/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.summerCamp .description, .introduce .p-wrapper, .introduce .list-wrapper {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}

.panel .panel-header {
  border-bottom: solid 3px #153306;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  position: relative;
  font-family: 'Noto Serif', serif;
  background-color: #C2F5A9;
  color: #153306;
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

a:link, a:visited {
  color: #3a8e11;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #153306;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.header {
  min-height: 50vh;
  max-height: 80vh;
  padding-top: 10vh;
  justify-content: center;
  display: flex;
  line-height: 1em;
  background-image: linear-gradient(rgba(194, 245, 169, 0.4), rgba(194, 245, 169, 0.4));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 300px) {
  .header {
    height: 160px;
  }
}
@media (min-width: 400px) {
  .header {
    height: 213.33333px;
  }
}
@media (min-width: 500px) {
  .header {
    height: 266.66667px;
  }
}
@media (min-width: 600px) {
  .header {
    height: 320px;
  }
}
@media (min-width: 700px) {
  .header {
    height: 373.33333px;
  }
}
@media (min-width: 800px) {
  .header {
    height: 426.66667px;
  }
}
@media (min-width: 900px) {
  .header {
    height: 480px;
  }
}
@media (min-width: 1000px) {
  .header {
    height: 533.33333px;
  }
}
@media (min-width: 1100px) {
  .header {
    height: 586.66667px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 640px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-default, .dropdown-menu {
  background-color: rgba(162, 240, 123, 0.8);
  border-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-brand, .dropdown-menu .navbar-brand {
  color: #3a8e11;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .dropdown-menu .navbar-brand:hover, .dropdown-menu .navbar-brand:focus {
  color: #153306;
}
.navbar-default .navbar-text, .dropdown-menu .navbar-text {
  color: #3a8e11;
}
.navbar-default .navbar-nav > li > a, .navbar-default .dropdown-menu > li > a, .dropdown-menu .navbar-nav > li > a, .dropdown-menu .dropdown-menu > li > a {
  color: #3a8e11;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus, .dropdown-menu .navbar-nav > li > a:hover, .dropdown-menu .navbar-nav > li > a:focus, .dropdown-menu .dropdown-menu > li > a:hover, .dropdown-menu .dropdown-menu > li > a:focus {
  color: #153306;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover, .navbar-default .dropdown-menu > .active > a:focus, .dropdown-menu .navbar-nav > .active > a, .dropdown-menu .navbar-nav > .active > a:hover, .dropdown-menu .navbar-nav > .active > a:focus, .dropdown-menu .dropdown-menu > .active > a, .dropdown-menu .dropdown-menu > .active > a:hover, .dropdown-menu .dropdown-menu > .active > a:focus {
  color: #153306;
  background-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .dropdown-menu > .open > a, .navbar-default .dropdown-menu > .open > a:hover, .navbar-default .dropdown-menu > .open > a:focus, .dropdown-menu .navbar-nav > .open > a, .dropdown-menu .navbar-nav > .open > a:hover, .dropdown-menu .navbar-nav > .open > a:focus, .dropdown-menu .dropdown-menu > .open > a, .dropdown-menu .dropdown-menu > .open > a:hover, .dropdown-menu .dropdown-menu > .open > a:focus {
  color: #153306;
  background-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-toggle, .dropdown-menu .navbar-toggle {
  border-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .dropdown-menu .navbar-toggle:hover, .dropdown-menu .navbar-toggle:focus {
  background-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-toggle .icon-bar, .dropdown-menu .navbar-toggle .icon-bar {
  background-color: #3a8e11;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form, .dropdown-menu .navbar-collapse,
.dropdown-menu .navbar-form {
  border-color: #3a8e11;
}
.navbar-default .dropdown-menu > li > a:hover, .dropdown-menu .dropdown-menu > li > a:hover {
  background-color: rgba(129, 234, 78, 0.7);
}
.navbar-default .navbar-link, .dropdown-menu .navbar-link {
  color: #3a8e11;
}
.navbar-default .navbar-link:hover, .dropdown-menu .navbar-link:hover {
  color: #153306;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3a8e11;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #153306;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #153306;
    background-color: rgba(129, 234, 78, 0.7);
  }
}
.scroll-to-fixed-fixed {
  background-color: #a2f07b;
}

img {
  background-size: 100% 100%;
}

.summer-wrapper {
  background-image: linear-gradient(rgba(194, 245, 169, 0.4), rgba(194, 245, 169, 0.4));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.summerCamp h2 {
  text-align: center;
  margin-top: 2rem;
}
.summerCamp .description {
  margin-top: 2em;
  background-color: rgba(162, 240, 123, 0.8);
  text-align: justify;
}
.summerCamp .description span {
  font-style: oblique;
  font-size: 1.2em;
  display: block;
}

.panel {
  margin-top: 20px;
  background-color: rgba(162, 240, 123, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.panel .panel-head, .panel .panel-head2 {
  cursor: pointer;
  padding: 30px;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
.panel .panel-head .caret, .panel .panel-head2 .caret {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid;
}

.panel-body1, .panel-body2 {
  display: none;
}
.panel-body1 ul, .panel-body2 ul {
  text-align: center;
}
.panel-body1 ul li, .panel-body2 ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #3a8e11;
  list-style: none;
}
.panel-body1 ul li:nth-child(2n+1), .panel-body2 ul li:nth-child(2n+1) {
  background-color: rgba(129, 234, 78, 0.7);
}

.parallax-window2 {
  background-image: linear-gradient(rgba(194, 245, 169, 0.4), rgba(194, 245, 169, 0.4));
}

.introduce {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.introduce .p-wrapper {
  background-color: rgba(162, 240, 123, 0.8);
  margin: 1rem auto;
  text-align: justify;
}
.introduce .p-wrapper p:first-child {
  padding-bottom: 1rem;
}
.introduce .p-wrapper::first-line {
  font-style: italic;
  font-size: 1.2em;
}
.introduce .list-wrapper {
  background-color: rgba(162, 240, 123, 0.8);
  margin-bottom: 2rem;
}
.introduce .list-wrapper ul {
  margin: 1rem auto;
  list-style-type: circle;
}
.introduce h3 {
  padding-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.tax {
  padding: 0.9375rem;
}
.tax h3 {
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: bold;
}
.tax p {
  text-align: justify;
}

#accessibility {
  padding: 0.9375rem;
}
#accessibility h3 {
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
#accessibility p {
  text-align: justify;
  margin-bottom: 1rem;
}
#accessibility p:nth-child(3) {
  font-weight: bold;
  font-style: italic;
}
#accessibility iframe {
  border: 5px solid #153306;
  border-radius: 5px;
}

.parallax-window4 {
  background-image: linear-gradient(rgba(194, 245, 169, 0.4), rgba(194, 245, 169, 0.4));
}

.tradition {
  text-align: center;
  padding-top: 2rem;
}
.tradition p {
  margin-top: 1rem;
  text-align: justify;
}
.tradition .tradition1, .tradition .tradition2 {
  background-color: rgba(162, 240, 123, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
.tradition .tradition1 p:last-child {
  font-style: italic;
}

.panel-title {
  background-color: rgba(162, 240, 123, 0.8);
  text-align: center;
}

.panel-group {
  text-align: justify;
}

.panel-default > .panel-heading {
  background-color: rgba(129, 234, 78, 0.7);
}

.panel2 p {
  margin-bottom: 1.25rem;
}
.panel2 h4 {
  font-size: 1.125rem;
  font-style: italic;
  margin-bottom: 0.625rem;
}

.panel3 ol {
  margin-top: 0.625rem;
  list-style: circle;
  padding-left: 1.25rem;
}
.panel3 p {
  margin-top: 1.25rem;
}

footer {
  width: 100%;
  background: #81ea4e;
  text-align: center;
  padding: 1.25rem;
}

.social li {
  display: inline-block;
  margin: 0 10px;
}

[class^="icon-"] {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/sprite.svg");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.icon-facebook {
  padding: 0;
  background-position: 0 -64px;
}

/*# sourceMappingURL=main.css.map */
