.panel-title {
  background-color: $bgDefault;
  text-align: center;
}

.panel-group {
  text-align: justify;
}

.panel-default>.panel-heading {
  background-color: $bgHighlight;
}

.panel2 {
  p {
    margin-bottom: rem(20);
  }
  h4 {
    font-size: rem(18);
    font-style: italic;
    margin-bottom: rem(10);
  }
}

.panel3 {
  ol {
    margin-top: rem(10);
    list-style: circle;
    padding-left: rem(20);
  }
  p {
    margin-top: rem(20);
  }
}
