footer {
  width:100%;
  background: darken($base-color, 20%);
  text-align: center;
  padding: rem(20);
}

.social li {
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
}

[class^="icon-"] {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../src/img/sprite.svg");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.icon-facebook {
  padding: 0;
  background-position: 0 -64px;
}

.contact {
  border-bottom: 1px solid $colHighlight;
  font-size: rem(20);
}
