.parallax-window4 {
    background-image: $img-layer;
}

.tradition {

  text-align: center;
  padding-top: 2rem;
  p {
    margin-top: 1rem;
    text-align: justify;
  }

  %tradition{
    background-color: $bgDefault;
    @include border-radius(10px);
    padding: rem(20);
    margin-bottom: rem(20);
  }

  .tradition1  {
    @extend %tradition;
    p:last-child{
      font-style: italic;
    };
  }
  .tradition2{
    @extend %tradition
  }
}
