@include establish-baseline($base-font-size);

body{
  font-family: 'Noto Serif', serif;
  background-color: $base-color;
  color: $font-color;
  font-size: $base-font-size;
  box-sizing: border-box;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.8em;
}

h2{
  font-size: 1.6em;
}

a:link, a:visited {
    color: $colDefault;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  color: $colHighlight;
}
