$base-color:  #C2F5A9;
$font-color: darken($base-color, 70%);
$img-layer: linear-gradient(rgba($base-color, .4),  rgba($base-color, 0.4));
$layer: linear-gradient(rgba($base-color, .7),  rgba($base-color, 0.7));

//navbar colors
$bgDefault      :  rgba(darken($base-color, 10%), .8);
$bgHighlight    : rgba(darken($base-color, 20%), .7);
$colDefault     : darken($base-color, 50%);
$colHighlight       :$font-color;
